*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 2rem;
}

.card {
  width: 25rem;
  height: min-content;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 2px 10px grey;
}

.card-display {
  height: 30rem;
}

.card-display img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-body {
  text-align: center;
  padding: 0;
  margin: .5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-body > * {
  font-size: 1.5rem;
}

.card-title {
  font-weight: 700;
  font-size: 2.3rem;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img img img des des"
    "img img img des des"
    "img img img des des"
    "rel rel rel des des"
    ". . . des des";
}

.productView {
  grid-area: img;
}

.productView-main img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.productMeta {
  grid-area: des;
}

.productMeta-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.productMeta-colors img {
  border-radius: 100%;
  height: 3rem;
  cursor: pointer;
}

.productMeta-colors img:hover {
  border: 3px solid black;
}